h1 {
    color: #333;
}

#balance_chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100px;
    height: 100%; /* 高さは固定または調整が必要に応じて */
    margin: 0 auto;
}



