<h1>取引履歴</h1>

<table>
  <thead>
    <tr>
      <th>取引タイプ</th>
      <th>金額</th>
      <th>説明</th>
      <th>取引日</th>

    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type == 'payment' ? '支払い' : '入金' %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.transaction_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
